:not(pre) > code[class*="language-"] {
  background: #e4c09080 !important;
  color: black;
  text-shadow: none;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px; /* Set your desired size */
  line-height: 1.5;
}
